.header{
    max-width: 800px;
    width: 100%;
    color: #ffffff;
    margin: 30px auto 0 auto;
    padding: 0;
    text-align: center;
    @include tablet{
        width: 85%;
    }
    @include mobile{
        width: 85%;
    }
    h5{
        font-size: .9rem;
        font-weight: 400;
        padding: 0;
        margin: 0;
    }
     h1{
        font-size: 3.3rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .2rem;
        line-height: 3rem;
        padding: 0;
        margin: 0;
    }
     p{
        font-size: .9rem;
        line-height: 1.3rem;
        margin: 10px 0 0 0;
        padding: 0;
    }
}

.container_etiquetas{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    @include tablet{
        width: 80%;
    }
    @include mobile{
        width: 100%;
    }
    p{
        color: $color-primary;
        background-color: #ffffffc0;
        padding: 2px 10px;
        border-radius: 5px;
        font-size: .6rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .1rem;
    }
}