.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_main{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 50px 0;
    padding: 0;
    .box_mensajes{  
        width: 800px;
        height: 500px;
        min-height: auto;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 20px;
        padding: 0px 30px 30px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 15px 15px 50px #00000052;
        position: relative;
        @include tablet{
            padding: 20px;
            margin: 0 30px;
        }
        @include mobile{
            // background-color: transparent;
            box-shadow: none;
            margin: 0 10px;
            border-radius: 15px;
             
        }
        .contenedor_mensajes_hover{
            width: 100%;
            height: 200px;
            background-image: linear-gradient(to top, #ffffff00, #ffffff);
            position: absolute;
            top: 0;
            border-radius: 20px 20px 0 0;
        }
        .contenedor_mensajes{
            height: 90%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            overflow-y: scroll;
            scroll-behavior: smooth;
            @include tablet{

            }
            .mensaje_out{
                display: flex;
                justify-content: end;
                align-items: end;
                margin: 10px 0;
                .container_mensaje{
                    max-width: 50%;
                    width: fit-content;
                    text-align: right;
                    background-color: #D256C1;
                    padding: 10px;
                    border-radius: 10px 10px 0 10px;
                    color: #ffffff;
                    font-size: .8rem;
                    letter-spacing: .03rem;
                    line-height: 1.1rem;
                    @include mobile{
                        background-color: #cb1ca5;
                    }
                }
                .user_img{
                    background-color: #D256C1;
                    width: 35px;
                    height: 35px;
                    border-radius: 100%;
                    margin: 0 0 0 10px;
                    @include mobile{
                        background-color: #cb1ca5;
                    }
                }
            }
            .mensaje_in{
                display: flex;
                justify-content: start;
                align-items: end;
                margin: 10px 0;
                .container_mensaje{
                    max-width: 55%;
                    width: fit-content;
                    text-align: left;
                    background-color: #ffffff;
                    padding: 10px;
                    border-radius: 10px 10px 10px 0;
                    color: #535353;
                    font-size: .8rem;
                    letter-spacing: .03rem;
                    line-height: 1.1rem;
                    @include mobile{
                        background-color: #ffffff9b;
                    }
                }
                .user_img{
                    background-color: #ffffff;
                    width: 35px;
                    height: 35px;
                    border-radius: 100%;
                    margin-right: 10px;
                    @include mobile{
                        background-color: #ffffff9b;
                    }
                }
            }
        }
        .contenedor_enviar{
            width: 100%;
            background-color: #ffffff;
            padding: 5px 0;
            margin: 0;
            border-radius: 50px 100px 100px 50px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            #prueba{
                width: 90%;
                height: 35px;
                border: none;
                margin: 0 10px;
                font-size: 1.2rem;
                &:focus-visible{
                    outline: none;
                }
            }
            .btn-enviar{
                background-color: #D256C1;
                border: none;
                padding: 15px;
                border-radius: 100%;
                margin: 0 8px 0 0;
                .send-icon{
                    color: #ffffff;
                    font-size: 23px;
                    margin-right: 3px;
                }
            }
        }
    }
}

