body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif, Helvetica, sans-serif;
  background-color: #F153AA;
  background-image: linear-gradient(to bottom right, #F153AA, #9258E4);
  height: 100vh;
  font-size: 16px;
  background-color: #e5aeff;
  position: relative;
  z-index: 0;
}

.container_bg {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  opacity: 0.2;
  background-image: linear-gradient(45deg, #fde4ff 50%, #ffffff 50%);
  background-size: 80px 80px;
}

.container {
  position: absolute;
  z-index: 4;
  width: 100%;
}

.header {
  max-width: 800px;
  width: 100%;
  color: #ffffff;
  margin: 30px auto 0 auto;
  padding: 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .header {
    width: 85%;
  }
}
@media screen and (max-width: 576px) {
  .header {
    width: 85%;
  }
}
.header h5 {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.header h1 {
  font-size: 3.3rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 3rem;
  padding: 0;
  margin: 0;
}
.header p {
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin: 10px 0 0 0;
  padding: 0;
}

.container_etiquetas {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .container_etiquetas {
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .container_etiquetas {
    width: 100%;
  }
}
.container_etiquetas p {
  color: #D256C1;
  background-color: rgba(255, 255, 255, 0.7529411765);
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  padding: 0;
}
.container_main .box_mensajes {
  width: 800px;
  height: 500px;
  min-height: auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 0px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.3215686275);
  position: relative;
}
@media screen and (max-width: 768px) {
  .container_main .box_mensajes {
    padding: 20px;
    margin: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .container_main .box_mensajes {
    box-shadow: none;
    margin: 0 10px;
    border-radius: 15px;
  }
}
.container_main .box_mensajes .contenedor_mensajes_hover {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), #ffffff);
  position: absolute;
  top: 0;
  border-radius: 20px 20px 0 0;
}
.container_main .box_mensajes .contenedor_mensajes {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.container_main .box_mensajes .contenedor_mensajes .mensaje_out {
  display: flex;
  justify-content: end;
  align-items: end;
  margin: 10px 0;
}
.container_main .box_mensajes .contenedor_mensajes .mensaje_out .container_mensaje {
  max-width: 50%;
  width: fit-content;
  text-align: right;
  background-color: #D256C1;
  padding: 10px;
  border-radius: 10px 10px 0 10px;
  color: #ffffff;
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
  line-height: 1.1rem;
}
@media screen and (max-width: 576px) {
  .container_main .box_mensajes .contenedor_mensajes .mensaje_out .container_mensaje {
    background-color: #cb1ca5;
  }
}
.container_main .box_mensajes .contenedor_mensajes .mensaje_out .user_img {
  background-color: #D256C1;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin: 0 0 0 10px;
}
@media screen and (max-width: 576px) {
  .container_main .box_mensajes .contenedor_mensajes .mensaje_out .user_img {
    background-color: #cb1ca5;
  }
}
.container_main .box_mensajes .contenedor_mensajes .mensaje_in {
  display: flex;
  justify-content: start;
  align-items: end;
  margin: 10px 0;
}
.container_main .box_mensajes .contenedor_mensajes .mensaje_in .container_mensaje {
  max-width: 55%;
  width: fit-content;
  text-align: left;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px 10px 10px 0;
  color: #535353;
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
  line-height: 1.1rem;
}
@media screen and (max-width: 576px) {
  .container_main .box_mensajes .contenedor_mensajes .mensaje_in .container_mensaje {
    background-color: rgba(255, 255, 255, 0.6078431373);
  }
}
.container_main .box_mensajes .contenedor_mensajes .mensaje_in .user_img {
  background-color: #ffffff;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-right: 10px;
}
@media screen and (max-width: 576px) {
  .container_main .box_mensajes .contenedor_mensajes .mensaje_in .user_img {
    background-color: rgba(255, 255, 255, 0.6078431373);
  }
}
.container_main .box_mensajes .contenedor_enviar {
  width: 100%;
  background-color: #ffffff;
  padding: 5px 0;
  margin: 0;
  border-radius: 50px 100px 100px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container_main .box_mensajes .contenedor_enviar #prueba {
  width: 90%;
  height: 35px;
  border: none;
  margin: 0 10px;
  font-size: 1.2rem;
}
.container_main .box_mensajes .contenedor_enviar #prueba:focus-visible {
  outline: none;
}
.container_main .box_mensajes .contenedor_enviar .btn-enviar {
  background-color: #D256C1;
  border: none;
  padding: 15px;
  border-radius: 100%;
  margin: 0 8px 0 0;
}
.container_main .box_mensajes .contenedor_enviar .btn-enviar .send-icon {
  color: #ffffff;
  font-size: 23px;
  margin-right: 3px;
}

/*# sourceMappingURL=main.css.map */
